@import "styles/fonts";
@import "styles/vendor/bootstrap";

.lanes {
  padding: 0px;
  margin: 0px;
  background-color: $body-bg;
  position: relative;
  min-height: 10px; // needs height for resizing sensor to function
  @import "styles/compoonents/all";
  @import "styles/plugins/all";
  @import "styles/layout";
  @import "styles/tabs";
  @import "styles/screens";
  @import "styles/forms";
  @import "styles/keybindings";
}
