@import "lanes/vendor/styles/widgets";

.rw-combobox, .rw-datetimepicker, .rw-numberpicker, .rw-dropdownlist {
    padding-bottom: 1px; // push down so border isn't covered
    input { height: 32px; padding: 6px 12px; }
}

.rw-multiselect-taglist > li {
    margin: 2px;
    .rw-tag-btn {
        margin: 0 3px;
    }
}

.rw-dropdownlist {
    height: 35px;
    .rw-input{
        line-height: 34px;
    }
}
