a               { cursor: pointer;       }
.cursor-pointer { cursor: pointer;       }
.non-printable  { @include hidden-print; }
.align-right    { text-align: right;     }
.align-center   { text-align: center;    }
