.font-icon-display {
    font-family: 'lanes-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    position: relative;
    top: 1px;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @extend .font-icon-display;
}

@import "./fonts/style";

.icon-reset:before {
    @extend .icon-refresh:before;
}
