$fa-css-prefix: "icon";

$lanes-icon-font: 'FontAwesome';

@import "./fonts/font-awesome";

button, a.btn {
    .icon {
        margin-right: 0.5em;
        &.flush { margin-right: 0; }
    }
    &.icon:before{
        font-family: $lanes-icon-font;
    }
}
