$fa-css-prefix: "icon";

$lanes-icon-font: 'FontAwesome';

@import "./fonts/font-awesome";

button, a.btn {
    .icon {
        margin-right: 0.5em;
    }
    &.flush .icon { margin-right: 0; }
    &.icon:before{
        font-family: $lanes-icon-font;
    }
}


// replace glyphicons with fa
.glyphicon {
    @extend .icon;
    &.glyphicon-ok:before           { content: $fa-var-check;                }
    &.glyphicon-warning-sign:before { content: $fa-var-exclamation-triangle; }
    &.glyphicon-error:before        { content: $fa-var-exclamation;          }
}
