$lanes-field-value-height: 34px;

$lanes-color-selections: (
    #4D4D4D, // (gray)
    #5DA5DA, // (blue)
    #FAA43A, // (orange)
    #60BD68, // (green)
    #F17CB0, // (pink)
    #B2912F, // (brown)
    #B276B2, // (purple)
    #DECF3F, // (yellow)
    #F15854, // (red)
    #F5DEB3  // (tan)
);

$lanes-text-color-selections: (
    // background colors
    white, // (gray)
    black, // (blue)
    white, // (orange)
    black, // (green)
    black, // (pink)
    white, // (brown)
    white, // (purple)
    black, // (yellow)
    white, // (red)
    black  // (tan)
);
