// Only to be included from grid/styles

$editor-background: #e6e6e6;
$editor-border-color: #a8a8a8;
$editor-border: 1px solid $editor-border-color;

.toolbar {
    .add-row { margin-right: 10px; }
}

.editor {

    .controls {
        text-align: center;
        position: relative;
        overflow: visible;
        .buttons {
            display: inline-block;
            margin: 0 auto;
            //display: flex;
            //justify-content: space-between;
        }
    }
    // common styles shared between row, popover and other editors
    .fields {
        display: flex;

        .field {
            box-sizing: border-box;
            margin: 3px;
            flex: 1;
            justify-content: center;
            display: flex;
            flex-direction: column;
            > input {
                width: 100%;
                height: 35px;
                border-radius: 5px;
            }
            &.center { justify-content: center;   }
            &.right  { justify-content: flex-end; }
        }
        input {
            padding: 0 5px;
        }
        input[type=checkbox] {
            width: inherit;
        }
    }

    //Popover editor
    .popover {
        min-width: 250px;
        .fields {
            flex-direction: column;
        }
        label {
            display: block;
            font-size: 85%;
        }
        input {
            width: 100%;
        }
        .controls {
            border-top: 1px solid darken($editor-background, 15%);
            padding-top: 8px;
            margin-top: 8px;
            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex: 1;
            }
        }
    }
}

@import "./row-editor";
