@import "lanes/vendor/grid";

.grid-component {
    position: relative;

    .toolbar {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    @import "./editors";


}
