.grid-component {

    min-height: 250px;
    width: 100%;
    border: 1px solid $table-border-color;
    position: relative;

    display: flex;
    flex-direction: column;
    flex: 1;


    // styles shared between header and row
    .header, .r {
        display: flex;
        flex-direction: row;

        display: flex;
        flex-direction: row;
        .c {
            padding: $table-cell-padding;
            line-height: $line-height-base;

            display: flex;
            flex-direction: row;

            &.center { justify-content: center;   }
            &.right  { justify-content: flex-end; }

        }
        &:first-child {
            border-top: 0;
        }
    }

    .header {
        .c {
            border: 1px solid $table-border-color;

            align-items: flex-end;
        }
    }

    .grid-body {
        border-top: 1px solid $table-border-color;
        overflow: auto;
        position: relative; // for absolutely positioned row editor
        flex-grow: 1;

        .r:nth-child(odd) {
            background-color: $table-bg-accent;
        }
        .c {
            align-items: center;
        }
    }

    .toolbar {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    @import "./editors";

}
