@font-face {
  font-family: 'skr-icon';
  src:url(font-path('styles/fonts/icomoon.eot') + '?-7u8s0f');
  src:url(font-path('styles/fonts/icomoon.eot') + '?#iefix-7u8s0f') format('embedded-opentype'),
  url(font-path('styles/fonts/icomoon.woff') + '?-7u8s0f') format('woff'),
  url(font-path('styles/fonts/icomoon.ttf')  + '?-7u8s0f') format('truetype'),
  url(font-path('styles/fonts/icomoon.svg')  + '?-7u8s0f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.lanes {
  .font-icon-display {
    font-family: 'skr-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    position: relative;
    top: 1px;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  [class^="icon-"], [class*=" icon-"] {
                      @extend .font-icon-display;
                    }

  @import "fonts/style";

  .icon-reset:before {
    @extend .icon-refresh:before;
  }
}
