#hippo-root {
    .record-finder {
        .grommetux-form-field__contents {
            display: flex;
            align-items: center;
        }
        .grommetux-button__icon {
            padding: 3px;
            margin-right: 0.5rem;
        }
    }
}
