<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
        <title><%= Lanes.config.app_title %></title>
        <%=  lanes_javascript_tag %>
        <%=  lanes_stylesheet_tag %>
        <script type="text/javascript">
          Lanes.renderScreenTo('body', <%= client_bootstrap_data %> );
        </script>
    </head>

    <body>

    </body>
</html>
