@import "~grommet/scss/grommet-core/settings";

#hippo-root {
    .asset {
        .drop-zone {
            height: 200px;
            padding: 0.5rem;
            cursor: pointer;
            overflow: auto;
            &-active {
                background-color: $selected-background-color;
            }
        }
    }
}
