.fancy-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    :first-child {
        border: 1px solid black;
        border-width: 1px 0;
        padding: 20px;
        line-height: 0.5;
        text-align: center;
    }
}
