@import '../styles/global';
@import '~grommet/scss/aruba/index';

.screen {
    flex: 1;
    flex-direction: column;
    padding: 0.5rem;
    display: none;


    min-height: min-content; min-height: -moz-min-content; min-height: -webkit-min-content;

    &.is-active {
        display: flex;
    }
}

.sidebar-toggle {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.2;
    transistion: all 0.4s;
    &:hover {
        opacity: 1.0;
    }
    &.is-open {
        display:none;
    }
}

.screen-selection-menu {
    min-width: 250px;
    .grommetux-anchor > .icon {
        margin-right: 0.5rem;
    }
}

.screens-wrapper {
    overflow: auto
}
