@import '../styles/global';
@import '~grommet/scss/aruba/index';

html {
  font-family: $brand-font-family;
}

a.anchor {
  display: block;
}

.request-access fieldset:first-of-type {
  padding-top: 0;
}

pre {
  width: 100%;
  max-width: 100%;
}

.generic-branding {
  display: none;
}

.content-pane .grommetux-tabs {
    padding-left: 20px;
    padding-right: 20px;
}

.screen {
    flex: 1;
    flex-direction: column;
    padding: 0.5rem;
    display: none;
    &.is-active {
        display: flex;
    }
}

.sidebar-toggle {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.2;
    transistion: all 0.4s;
    &:hover {
        opacity: 1.0;
    }
    &.is-open {
        display:none;
    }
}

.screen-selection-menu {
    .grommetux-anchor > .icon {
        margin-right: 0.5rem;
    }
}
