.changes-notification {
    &.navbar-right {
        margin-right: 0px;
    }
    
    .btn.dropdown-toggle {
        padding: 0 0 0 10px;
        margin-bottom: 0;
        margin-top: 8px;
        i {
            font-size: 28px;
        }
        .badge {
            top: -14px;
            position: relative;
            left: -8px;
            padding: 3px 7px;
            font-size: 75%;
        }
    }
    .title{
        margin: 0; // reset heading margin
        padding: 8px 14px;
        font-size: $font-size-base;
        background-color: $popover-title-bg;
        border-bottom: 1px solid darken($popover-title-bg, 5%);
        border-radius: ($border-radius-large - 1) ($border-radius-large - 1) 0 0;
    }

    .dropdown-menu {
        padding-top: 0px;
        .arrow {
        }
        .update {
            @extend .list-group-item;
            span {
                color: $dropdown-link-color;
                text-decoration: underline;
                cursor: pointer;
            }
            span:hover{
                text-decoration: none;
                color: $dropdown-link-hover-color;
            }
        }
        .scroller {
            max-height: 200px;
            overflow-y: auto;
        }
        .ago {
            @extend small;
        }
    }
    .tooltip{
        position: fixed;
    }
}
