.header-top {
    @extend .navbar;
    @extend .navbar-inverse;
    @extend .navbar-fixed-top;
    z-index: 20;
    height: $workspace-header-height;
    border-radius: 0;
    margin: 0;
    border: 0;
    position:relative;

    .navbar-header {
        position: relative;
        min-width: 203px;
        width: 100%;
        height: 50px;
        margin-left: 0;
    }

    .logo {
        display: inline-block;
        height: 48px;
        width: 150px;
        margin: 2px;
        color: rgb(205, 208, 212);
        font-size: 30px;
        text-shadow: rgb(143, 112, 112) 2px 2px 4px;
    }

    .navbar-toggle, .screens-menu-toggle {
        color: #fff;
        display: block;
        float: left;
        color: #fff;
        border: 0;
        padding: 6px 7px 7px;
        line-height: 1;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 12px 0 12px 0px;
        border-radius: 0;
    }
}
