@import "~grommet/scss/grommet-core/settings";
#lanes-root {

    .data-table {
        flex: 1; //style={{ flex: '1 1 auto' }}
        max-width: 100%;
        width: 100%;
        border-collapse: collapse;
        //    padding-right: 20px;
        // td,
        // th {
        //     // -1 to accommodate border
        //     padding: (halve($inuit-base-spacing-unit) - 1) halve($inuit-base-spacing-unit);
        //     text-align: left;

        //     &:first-child {
        //         padding-left: $inuit-base-spacing-unit;
        //     }

        //     &:last-child {
        //         padding-right: $inuit-base-spacing-unit;
        //     }
        // }

        .ReactVirtualized__Table__headerRow {
            font-weight: $text-font-weight;

            border-bottom: 1px solid $border-color;

            #{$dark-background-context} {
                border-color: $colored-border-color;
            }

            #{$light-background-context} {
                border-color: $border-color;
            }
        }


        .ReactVirtualized__Table__row {

            transition: 0.4s height;
            &.editing {
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
            }
        }

    }
}
