.changes-notification {

    .btn.dropdown-toggle {
        i {
            font-size: 28px;
        }
        .badge {
            top: -11px;
            position: relative;
            left: -11px;
            padding: 3px 7px;
            font-size: 75%;
        }
    }
    .title{
        margin: 0; // reset heading margin
        padding: 8px 14px;
        font-size: $font-size-base;
        background-color: $popover-title-bg;
        border-bottom: 1px solid darken($popover-title-bg, 5%);
        border-radius: ($border-radius-large - 1) ($border-radius-large - 1) 0 0;
    }

    .dropdown-menu {
        .update {
            border-bottom: 1px solid $table-border-color;
            margin-bottom: 5px;
            padding: 5px;
            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }
            .header {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
            }
            .time {
                font-size: 80%;
            }
            .change > div {
                margin-bottom: 2px;
            }
            .from, .to {
                margin-left: 0.5rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 180px;
                overflow: hidden;
            }
        }
        .scroller {
            max-height: 350px;
            overflow-y: auto;
        }
        .ago {
            @extend small;
        }
    }

}
