.changes-notification {

    .btn.dropdown-toggle {
        i {
            font-size: 28px;
        }
        .badge {
            top: -14px;
            position: relative;
            left: -8px;
            padding: 3px 7px;
            font-size: 75%;
        }
    }
    .title{
        margin: 0; // reset heading margin
        padding: 8px 14px;
        font-size: $font-size-base;
        background-color: $popover-title-bg;
        border-bottom: 1px solid darken($popover-title-bg, 5%);
        border-radius: ($border-radius-large - 1) ($border-radius-large - 1) 0 0;
    }

    .dropdown-menu {
        .update {
            border-bottom: 1px solid $table-border-color;
            padding: 0.75rem;
            p {
                margin: 0;
                margin-bottom: 2px;
            }
            .field { font-size: 115%; }
            .change span { margin-left: 5px; }
        }
        .scroller {
            max-height: 350px;
            overflow-y: auto;
        }
        .ago {
            @extend small;
        }
    }

}
