.lanes-toolbar {

    padding-left: $navbar-padding-horizontal;

    .btn {
//        @extend .btn-default;
//        @extend .navbar-btn;
        &.save {
            @extend .btn-primary;
        }
    }
    // not sure why bootstrap doesn't set this properly?
    .navbar-form { margin-top: 15px; } 
    .form-control {
        height: inherit;
    }
    .arrow {
        border-style: solid;

        border-left-color: transparent;
        border-right-color: transparent;

        border-bottom-color: $popover-title-bg;
        border-top-color: $popover-title-bg !important; 

        border-width: 0 9px 9px;
        height: 0;
        left: 7px;
        margin-top: 10px;
        opacity: 1;
        position: absolute;
        top: -18px;
        transition: all 0.25s ease 0s;
        width: 0;
        z-index: 10;
    }

    label {
        margin-bottom: 0;
    }
    input {
        margin: 0 0.25rem 0 0;
    }
        /*     <form className="navbar-form navbar-left" role="search"> */
        /* </form> */

    /* /\* .navbar-left { *\/ */
    /* /\*     float: left; *\/ */
    /* /\* } *\/ */
    /* /\* .navbar-right{ *\/ */
    /* /\*     float: right; *\/ */
    /* /\*     .arrow { *\/ */
    /* /\*         left: unset; *\/ */
    /* /\*         right: 10px; *\/ */
    /* /\*     } *\/ */
    /* /\* } *\/ */

    /* .dropdown-toggle { */
    /*     .badge{ */
    /*         padding: 2px 2px 0; */
    /*         position: relative; */
    /*         font-size: 70%; */
    /*         top: -6px; */
    /*         right: 5px; */
    /*     } */
    /*     i { */
    /*         /\* position: absolute; *\/ */
    /*         /\* left: 0px; *\/ */
    /*     } */
    /* } */

    @import "./changes-notification";
}
