.lanes-toolbar {

    padding-left: $navbar-padding-horizontal;

    .btn {
        &.save {
            @extend .btn-primary;
        }
    }
    // not sure why bootstrap doesn't set this properly?
    .navbar-form  { margin-top: 15px; }
    .form-control { height: inherit;  }
    .spacer {
        height: 50px;
        display: block;
        float: left;
    }
    .control {
        width: 100px;
        margin-right: 10px;
    }
    .arrow {
        border-style: solid;

        border-left-color: transparent;
        border-right-color: transparent;

        border-bottom-color: $popover-title-bg;
        border-top-color: $popover-title-bg !important; 

        border-width: 0 9px 9px;
        height: 0;
        left: 7px;
        margin-top: 10px;
        opacity: 1;
        position: absolute;
        top: -18px;
        transition: all 0.25s ease 0s;
        width: 0;
        z-index: 10;
    }

    label {
        margin-bottom: 0;
    }
    input {
        margin: 0 0.25rem 0 0;
    }

    @import "./changes-notification";
}
