@import 'hippo/styles/global';

.ory-plugins-content-image {
  width: 100%;
}

.ory-plugins-content-image-placeholder {
  position: relative;
  width: 100%;
  text-align: center;
}

.content-image-edit {
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    &.focused {
        border-width: 2px;
        border-color: $focus-border-color;
    }
    button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

}

.content-image-wrapper {
    &.align-fill {
        img { width: 100%; }
    }
}

.image-properties-toolbar {
    path {
        fill: white;
    }
}
