

.modal-backdrop{
    position: absolute;
}


.modal {
    .modal-dialog {
        z-index: 26;
    }
    &.md{
        .modal-lg {
            right: 5%;
            width: 100%;
            left: 5%;
        }
    }
}
