{
    "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-function-bind",
        "transform-react-jsx",
        "transform-runtime"
        "lodash"
    ],
    "presets": [
        ["es2015", {"modules": false}],
        "react",
        "stage-1",
        ["env", {
            "targets": {
                "browsers": ["> 1%"]
            },
            "debug": true
        }]
    ]
}
