<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <% for button in @buttons: %>
      <%= h.button(button) %>
      <% end  %>
    </div>
    <ul class="nav navbar-nav navbar-right changes-notification" style="display:none">
      <li class="dropdown">
        <button class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-cloud"></i>
          <span class="badge bg-theme"></span>
        </button>
        <div class="dropdown-menu">
          <div class="arrow"></div>
          <h3 class="title">There have been <span></span> updates.</h3>
          <div class="scroller">
            <ul data-hook="changes-display" class="list-group changes">
            </ul>
          </div>
        </div>
  </div><!-- /.container-fluid -->
</nav>
