<li class="update">
    <% if @change.by: %>
    <span class="name"  data-toggle="tooltip" data-placement="top" data-tooltip-message="<%= @change.by.email %>">
        <%= @change.by.name %>
    </span>
    <% end %>
    <%= @change.record.api_path() %>
    <% for field in @change.displayed_fields: %>
        <% change = @change.changeFor(field) %>
        <span data-toggle="tooltip" data-placement="top" data-tooltip-message="<%= change.from %> -> <%=change.to %>">
            <%= field %>
        </span>
    <% end %>
    <div class="ago"></div>
</li>
