@import "./fields";
@import "./fieldset";
@import "./resize-sensor";
@import "./overlay";
@import "./image-saver";
@import "./throbber";
@import "lanes/vendor/toggle";

.record-finder {
    .icon { cursor: pointer; }
}

.alert {
    .icon {
        margin-right: 5px;
    }
}

.badge.count {
    &.super {
        padding: 2px 2px 0;
        position: relative;
        font-size: 70%;
        top: -6px;
        right: 5px;
    }
}

.requesting-spinner {
    @extend .icon;
    @extend .icon-spinner;
    @extend .icon-spin;
    display: none;
    &.active {
        display: inline;
    }
}

.job-executing{
    display: flex;
    justify-content: center;
    align-items: center;
    h3 { margin: 0; margin-right: 15px; }
}
