.form-field.tags {
    .grommetux-form-field.grommetux-form-field--focus {
        overflow: visible;
    }
}

.react-tags {
  position: relative;
//  padding: 6px 0 0 6px;
//  border: 1px solid #D1D1D1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;
  display: flex;
  /* clicking anywhere will focus the input */
  cursor: text;
  flex-wrap: wrap;

  button:not(.grommetux-button):not(.grommetux-button--box) {
      margin: 0;
      height: 100%;
      font-weight: 300;
      padding: 0 0.4rem;
      min-width: inherit;
      border: 1px solid lightgray;
      height: 28px;
  }

  .react-tags.is-focused {
      border-color: #B1B1B1;
  }

  .react-tags__selected {
      flex: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 22px;
      margin-right: 0.5rem;
  }

  .react-tags__selected-tag {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 6px 6px 0;
      padding: 6px 8px;
      border: 1px solid #D1D1D1;
      border-radius: 2px;
      background: #F1F1F1;

      /* match the font styles */
      font-size: inherit;
      line-height: inherit;
  }

  .react-tags__selected-tag:after {
      content: '\2715';
      color: #AAA;
      margin-left: 8px;
  }

  .react-tags__selected-tag:hover,
  .react-tags__selected-tag:focus {
      border-color: #B1B1B1;
  }

  .react-tags__search {

      display: flex;
      align-items: center;


      /* match tag layout */
//      padding: 7px 2px;
      // margin-bottom: 6px;

      /* prevent autoresize overflowing the container */
      max-width: 100%;
  }

  @media screen and (min-width: 30em) {

      .react-tags__search {
          /* this will become the offsetParent for suggestions */
          position: relative;
      }

  }

  .react-tags__search input:not(.grommetux-input) {


      /* prevent autoresize overflowing the container */
//      max-width: 100%;

      /* remove styles and layout from this element */
      margin: 0;
//      padding: 0;
      border: 0;
      outline: none;
      flex: 1;
      width: inherit !important;
      padding: 10px 0;
      &:focus {
          padding: 10px 0;
      }
      /* match the font styles */
      font-size: inherit;
      line-height: inherit;
  }

  .react-tags__search input::-ms-clear {
      display: none;
  }

  .react-tags__suggestions {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      z-index: 3;
  }

  @media screen and (min-width: 30em) {

      .react-tags__suggestions {

          width: 240px;
      }

  }

  .react-tags__suggestions ul {
      margin: 4px -1px;
      padding: 0;
      list-style: none;
      background: white;
//      border: 1px solid #D1D1D1;
      border-radius: 2px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  .react-tags__suggestions li {
      border-bottom: 1px solid #ddd;
      padding: 6px 8px;
  }

  .react-tags__suggestions li mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
  }

  .react-tags__suggestions li:hover {
      cursor: pointer;
      background: #eee;
  }

  .react-tags__suggestions li.is-active {
      background: #b7cfe0;
  }

  .react-tags__suggestions li.is-disabled {
      opacity: 0.5;
      cursor: auto;
  }
}
