<div class="row">
  <div style="display:none" class="alert alert-danger" role="alert"></div>
  <div class="<%= h.grid_offsets(0,2) %> <%= h.grid_widths 12, 8%>">
        <form role="form">
            <div class="form-group">
                <label for="LoginField">Login</label>
                <input type="email" id="LoginField" value="admin" class="form-control login" placeholder="Enter Login">
            </div>
            <div class="form-group">
                <label for="PasswordField">Password <a href="/sessions/forgot_password">(forgot password)</a></label>
                <input type="password" id="PasswordField" value="password" class="form-control password" placeholder="Password">
            </div>

        </form>
    </div>
</div>
