<form class="user-edit form-horizontal" role="form">
<% for field in @columns: %>
  <div class="form-group">
    <label for="field-<%= field.id %>" class="col-sm-3 control-label"><%= field.title %></label>
    <div class="col-sm-9">
      <input type="text" name="<%= field.id %>" class="form-control" id="field-<%= field.id %>" placeholder="">
    </div>
  </div>
<% end %>

  <div class="form-group">
    <label for="field-password" class="col-sm-3 control-label">Roles</label>
    <div class="col-sm-9">
      <div data-hook="roles"></div>
    </div>
  </div>

  <div class="form-group">
    <label for="field-password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input type="password" name="password" class="form-control" id="field-password" placeholder="">
    </div>
  </div>

  <div class="buttons">
    <button type="button" class="btn btn-default cancel">
      <i class="icon-cancel-circle"> Cancel</i>
    </button>
    <button type="button" class="btn btn-primary save">
      <i class="icon-save"> Save</i>
    </button>
  </div>
</form>
