@import '~ory-editor-core/lib/index.css';

.grommet .text-editor-content {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .ory-cell-leaf {
        margin: 12px;
    }

    p:not(.grommetux-paragraph) {
        margin-top: 0;
        margin-bottom: 0;
    }

}
