.grommet .text-editor-content {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    p:not(.grommetux-paragraph) {
        max-width: inherit;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

}
