@import 'hippo/styles/global';

.grommet .text-editor {

    flex: 1;

    .text-editor-content {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        border: 1px solid #adadad;
    }

    .toolbar > * {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    p:not(.grommetux-paragraph) {
        max-width: inherit;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    button:not(.grommetux-button) {
        min-width: inherit;
        padding: 0;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        .active {
            border-bottom: 2px solid $focus-border-color;
        }
        button + button {
            margin-left: 0.5rem;
        }
    }
}
