$workspace-header-height: 50px;

@import "lanes/styles/bootstrap";
@import "lanes/styles/fonts";
// extensions are rooted at .lanes
&{
  padding: 0px;
  margin: 0px;
  background-color: $body-bg;
  position: relative;
  min-height: 10px; // needs height for resizing sensor to function
}
@import "styles/layout";
@import "styles/header";
@import "styles/tabs";
@import "styles/screens";
@import "styles/toolbar";
@import "styles/forms";
@import "styles/keybindings";
