<html>
  <body>
    <h2>
      Your account identifier was recently changed to be {{slug}}.
    </h2>
    <p>
      The updated login domain for your account will now be: <a href="https://{{ domain }}">{{ domain }}</a>
    </p>
    <p>
      Please bookmark that location and use to accessing {{ product_name }} in the future.
    </p>
  </body>
</html>
