.data-table {
    flex: 1;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;

    .ReactVirtualized__Table__row {
        transition: 0.4s height;

    }
    &.selectable {
        .ReactVirtualized__Table__row {
            cursor: pointer;
        }
    }

    .ReactVirtualized__Table__rowColumn {
        &.l { text-align: left; }
        &.r { text-align: right; }
        &.c { text-align: center; }
    }
    .ReactVirtualized__Table__headerColumn {
        &.l { text-align: left; }
        &.r { text-align: right; }
        &.c { text-align: center; }
    }
}
